.pricing__underTitle,
.testimonials__underTitle,
.dark__underTitle,
.sun,
.moon,
.title__word,
.btnApp,
.main__btn,
.cart__subtitle,
.cart__button,
.speedSecurity__underTitle,
.tech__underTitle,
.set__secondSubtitle,
.download__underTitle {
    font-size: 14px;
}

.faq__title,
.pricing__title,
.testimonials__title,
.download__title,
.dark__title,
.title__text,
.speedSecurity__title,
.tech__title {
    font-size: 32px;
}

.advanItem__title,
.advanItem__subtitle,
.dark__title,
.title__word,
.description__title,
.title__text,
.description__subtitle,
.nav p,
.btnApp,
.main__title,
.main__btn,
.main__text,
.speedSecurity__underTitle,
.speedSecurity__title,
.speedSecurity__subtitle,
.tech__underTitle,
.tech__title,
.tech__subtitle,
.timer__time {
    font-weight: 400;
}

.foot__title,
.timer__title,
.weeks div,
.timer__subtitle {
    font-weight: 700;

}

.advantage,
.toggleMode,
.darkContainer,
.downloadContainer,
.faqContainer,
.faq__set,
.features__description,
.foot__set,
.foot,
.nav,
.header,
.header__menu,
.main,
.pricing__cart,
.pricing__carts,
.speedSecurity,
.tech,
.testimonials__set,
.set__cont,
.timer__time,
.weeks,
.pricingContainer,
.testimonialsContainer {
    display: flex;
}