@import url('./components/header.css');
@import url('./components/timer.css');
@import url('./components/main.css');
@import url('./components/dark.css');
@import url('./components/features.css');
@import url('./components/advantage.css');
@import url('./components/speed.css');
@import url('./components/tech.css');
@import url('./components/pricing.css');
@import url('./components/testimonials.css');
@import url('./components/donwload.css');
@import url('./components/faq.css');
@import url('./components/foot.css');
@import url('overall.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}





.boss {
    width: 100%;
    height: auto;
}


.pricing,
.testimonials {
    width: 100%;
}

.pricingContainer,
.testimonialsContainer {
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
}

.pricing__underTitle,
.testimonials__underTitle {

    line-height: 20px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #222222;
}

.pricing__title,
.testimonials__title,
.download__title {
    line-height: 36px;

    text-align: center;

    color: #222222;


}

.pricing__subtitle,
.testimonials__subtitle,
.download__subtitle {
    font-size: 18px;
    line-height: 24px;

    text-align: center;

    color: #666666;

    width: 600px;

    margin-top: 14px;
}