.featContainer {
    background-color: #222222;
    border: 1px solid #222222;
    width: 100%;
}

.features {
    margin: 0 auto;
    padding-top: 95px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 97px;
}

.features__word {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.features__text {
    margin-top: 4px;
    line-height: 36px;

    font-size: 32px;
}

.features__description {
    flex-wrap: wrap;
    color: black;

    width: 100%;

    margin: 0 auto;
    padding-top: 43px;
    padding-left: 10px;

    justify-content: center;
}

.description__item {
    width: 379px;
    height: 490px;

    background-color: white;
    border-radius: 20px;

    margin-right: 16px;
    margin-bottom: 16px;
}



.blues {
    color: #0278ED;
}





.lists {
    color: #FF5437;
}



.varied {
    color: #FF9209;
}

.split {
    color: #E738CE;
}

.up {
    color: #00C6DF;
}

.focus {
    color: #B25DF8;
}

.description__phone {
    height: 293px;
    overflow: hidden;

}

.description__phone-img {
    margin: 0 auto;
    margin-top: 40px;
    width: 227px;
}

.description__calendar-img {
    width: 64px;
    margin: 0 auto;
    margin-top: -32px;
    margin-bottom: 14px;
}

.description__title {
    font-size: 24px;
    margin-bottom: 6px;
}

.description__subtitle {
    width: 286px;
    margin: 0 auto;

    font-size: 15px;
    color: #222222;
}