.pricing__carts {
    flex-direction: row;

    margin-top: 41px;
    margin-bottom: 100px;
}

.pricing__cart {
    flex-direction: column;
    align-items: center;

    background: #F2F2F2;
    border-radius: 20px;

    width: 379px;
    height: 338px;

    margin-right: 16px;
}

.cart__underTitle {
    font-size: 18px;
    line-height: 24px;

    text-align: center;

    margin-top: 47px;
}

.cart__title {
    margin-top: -13px;
    margin-left: 20px;
    margin-bottom: 24px;

    font-size: 108px;
    line-height: 124px;

    text-align: center;
    letter-spacing: 8px;


}


.cart__subtitle {
    line-height: 20px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #222222;

    margin-left: 22px;
}

.pricing__title {
    margin-top: 5px;
}

.cart__button {
    width: 129px;
    height: 40px;

    margin-top: 20px;
    margin-left: 14px;


    line-height: 18px;


    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;

    border: 0px;
    border-radius: 4px;
}


.blues__btn {
    background: #0278ED;
}

.blues__btn:hover {
    background: #4794e0;
}

.lists__btn {
    background: #FF5437;
}

.lists__btn:hover {
    background: #ec7560;
}

.varied__btn {
    background: #FF9209;
}

.varied__btn:hover {
    background: #eca247;
}

.blues__btn:active,
.lists__btn:active,
.varied__btn:active {
    transform: scale(0.98);
}