.main__btn,
.speedSecurity__underTitle,
.tech__underTitle,
.set__secondSubtitle,
.download__underTitle {
    font-size: 14px;
}

.faq__title,
.pricing__title,
.download__title,
.speedSecurity__title,
.tech__title {
    font-size: 32px;
}

.advantage__item__title,
.advantage__item__subtitle,
.dark__title,
.features__title__word,
.description__title,
.features__title__text,
.description__subtitle,
.nav p,
.main__title,
.main__btn,
.main__text,
.speedSecurity__underTitle,
.speedSecurity__title,
.speedSecurity__subtitle,
.tech__underTitle,
.tech__title,
.tech__subtitle,
.timer__time {
    font-weight: 400;
}

.foot__title,
.timer__title,
.weeks div,
.timer__subtitle {
    font-weight: 700;
}

.advantage,
.downloadContainer,
.faqContainer,
.faq__set,
.features__description,
.foot__set,
.foot,
.nav,
.header,
.main,
.pricing__carts__item,
.pricing__carts,
.speedSecurity,
.tech,
.set__cont,
.timer__time,
.weeks,
.pricingContainer {
    display: flex;
}