@import url('./modules/header.css');
@import url('./modules/timer.css');
@import url('./modules/main.css');
@import url('./modules/dark.css');
@import url('./modules/features.css');
@import url('./modules/advantage.css');
@import url('./modules/speed.css');
@import url('./modules/tech.css');
@import url('./modules/pricing.css');
@import url('./modules/testimonials.css');
@import url('./modules/donwload.css');
@import url('./modules/faq.css');
@import url('./modules/foot.css');
@import url('overall.css');
@import url('./modules/formes.css');
@import url('reset.css');






button:focus {
    border: #5AB0FF;
}

.boss {
    width: 100%;
    height: auto;
}


.pricing,
.testimonials {
    width: 100%;
}

.pricingContainer,
.testimonialsContainer {
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
}

.pricing__underTitle,
.testimonials__underTitle {

    line-height: 20px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #222222;
}

.pricing__title,
.testimonials__title,
.download__title {
    line-height: 36px;

    text-align: center;

    color: #222222;


}

.pricing__subtitle,
.testimonials__subtitle {
    font-size: 18px;
    line-height: 24px;

    text-align: center;

    color: #666666;

    width: 600px;

    margin-top: 14px;
}

@media (max-width:768px) {

    .pricing__subtitle,
    .testimonials__subtitle,
    .dark__subtitle {
        width: 400px;
    }
}

@media (max-width:425px) {

    .pricing__subtitle,
    .dark__subtitle,
    .testimonials__subtitle {
        width: 290px;
    }

    .pricing__title,
    .testimonials__title,
    .download__title {
        font-size: 24px;

    }
}