.advanContainer {
    background: #FF5437;
    height: 316px;
    margin-top: -11px;
}

.advantage {
    justify-content: space-between;

    margin-left: 199px;
    margin-right: 224px;
    padding-top: 52px;
    margin-bottom: 100px;
}

.advantage__title {

    font-size: 96px;
    color: white;
    margin-bottom: -1px;
}

.advantage__subtitle {
    text-align: center;

    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}