.pricing__carts {
    flex-direction: row;

    margin-top: 41px;
    margin-bottom: 100px;
}

.pricing__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #F2F2F2;
    border-radius: 20px;

    width: 379px;
    height: 338px;

    margin-right: 16px;
}

.pricing__item__underTitle {
    font-size: 18px;
    line-height: 24px;

    text-align: center;

    margin-top: 47px;
}

.pricing__item__title {
    margin-top: -13px;
    margin-left: 20px;
    margin-bottom: 24px;

    font-size: 108px;
    line-height: 124px;

    text-align: center;
    letter-spacing: 8px;


}


.pricing__item__subtitle {
    line-height: 20px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #222222;

    margin-left: 22px;
}

.pricing__title {
    margin-top: 5px;
}

.pricing__item__button {
    width: 129px;
    height: 40px;

    margin-top: 20px;
    margin-left: 14px;



    line-height: 18px;


    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;

    border: 0px;
    border-radius: 4px;
}


.pricing__item__button--blues {
    background: #0278ED;
}

.pricing__item__button--blues:hover {
    background: #4794e0;
}

.pricing__item__button--lists {
    background: #FF5437;
}

.pricing__item__button--lists:hover {
    background: #ec7560;
}

.pricing__item__button--varied {
    background: #FF9209;
}

.pricing__item__button--varied:hover {
    background: #eca247;
}

.pricing__item__button:active,
.pricing__item__button:active,
.pricing__item__button:active {
    transform: scale(0.98);
}

.pricing__item__standart {
    color: #0278ED;
}

.pricing__item__premium {
    color: #FF5437;
}

.pricing__item__lifetime {
    color: #FF9209;
}