.techContainer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.tech {
    margin: 100px 0px;
    height: 444px;
}

.tech__text {
    margin-top: 75px;

    width: 403px;
}

.tech__underTitle {
    line-height: 20px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #222222;
}

.tech__title {
    line-height: 36px;

    color: #222222;

    margin-top: 5px;
}

.tech__subtitle {
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}


.tech__phone__img {
    width: 376px;

    margin-left: 210px;
}