.downloadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 141px;
}

.download__underTitle {
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}

.download__title {
    font-size: 32px;
    margin-top: 4px;
}

.appStore {
    margin-top: 25px;
}

.download__subtitle {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #666666;
    width: 600px;
    margin-top: 14px;
}

@media (max-width:768px) {
    .download__subtitle {
        width: 400px;
    }
}

@media (max-width:425px) {
    .download__subtitle {
        width: 300px;
    }
}