.main {
    display: flex;
    height: auto;
    padding-top: 93px;
    margin-left: -93px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main__description {
    width: 420px;
    height: 354px;
    margin-left: 74px;
    margin-top: 43px;
}

.main__logo {
    margin-top: 2px;
    margin-left: 3px;
}

.main__title {
    font-size: 54px;
    line-height: 60px;
    color: #222222;
    margin-top: 9px;
    margin-left: 3px;
}

.main__text {
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-top: 17px;
    margin-left: 5px;
}

.main__btn {
    font-size: 14px;
    font-weight: 400;
    width: 148px;
    height: 40px;
    background: #222222;
    border: 0px;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 8px;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.main__btn:hover {
    background: #4E4E4E;
}

.main__btn:active {
    transform: scale(0.98);
}

.main__mobile {
    width: 376px;
    height: 548px;
    overflow: hidden;
    margin-left: 200px;
}

.main__mobile__phone {
    width: 396px;
}

@media(min-width:1440px) {
    .main {
        margin-top: -20px;
    }
}

@media(max-width:1092px) {
    .main__mobile {
        margin-left: 0px;
    }
}

@media (max-width:878px) {
    .main__mobile {
        width: 300px;
        height: 448px;
    }
}

@media (max-width:768px) {
    .main {
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-top: 94px;
    }

    .main__description {
        text-align: center;
    }

    .main__logo img {
        margin: 0 auto;

    }

    .main__mobile {
        margin-left: 80px;
    }
}

@media (max-width:425px) {
    .main__logo img {
        width: 150px;
    }

    .main__title {
        font-size: 20px;
    }

    .main__text {
        font-size: 14px;
        margin-top: -12px;
    }

    .main__btn {
        width: 120px;
    }

    .main__description {
        width: 280px;
    }
}