.timer {
    padding: 4% 0px 6% 0px;
    text-align: center;
    color: white;
    background-image: url(../../img/other/phon.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
    display: none;
}

.timer--none {
    display: none;
}

.timer__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 1.1px;
}

.timer__subtitle {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1.5px;
}

.timer__content {
    width: 790px;
    height: auto;
    margin: 0 auto;
    margin-top: 3px;
}

.timer__time {
    display: flex;
    font-weight: 400;
    width: 100%;
    display: flex;
    margin-left: 30px;
}

.timer__item {
    width: 120px;
}

.timer__weeks-seconds,
.timer__weeks-minutes,
.timer__weeks-hours,
.timer__weeks-days {
    font-size: 24px;
}

.timer__minutes,
.timer__seconds,
.timer__hours,
.timer__day {
    font-size: 100px;
}

.line {
    font-size: 100px;
    margin-left: 14px;
    margin-right: 32px;
}

@media (max-width:768px) {
    .timer__title {
        font-size: 30px;
    }

    .timer__subtitle {
        font-size: 15px;
    }

    .timer__minutes,
    .timer__seconds,
    .timer__hours,
    .timer__day {
        font-size: 50px;
    }

    .timer__weeks-seconds,
    .timer__weeks-minutes,
    .timer__weeks-hours,
    .timer__weeks-days {
        font-size: 20px;
    }

    .line {
        font-size: 50px;
        margin-left: 3px;
        margin-right: 2px;
    }

    .timer__time {
        margin-left: 0px;

        justify-content: center;
    }

    .timer__content {
        width: 100%;
    }
}

@media (max-width:425px) {

    .timer__minutes,
    .timer__seconds,
    .timer__hours,
    .timer__day {
        font-size: 25px;
    }

    .timer__weeks-seconds,
    .timer__weeks-minutes,
    .timer__weeks-hours,
    .timer__weeks-days {
        font-size: 12px;
    }

    .line {
        font-size: 30px;
        margin-left: 3px;
        margin-right: 2px;
    }

    .timer__time {
        margin-left: 0px;

        justify-content: center;
    }

    .timer__content {
        width: 100%;
    }

    .timer__time {
        margin-left: 0px;
    }
}